
.progressBar {
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
}

.progress {
    background-color: red;
    height: 8px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 999;
}


.remainingPoints{
    background-color: #777;
    flex: 1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.currentProgrees{
    cursor: pointer;
    background-color: var(--contrast-button);
    height: 18px;
    width: 18px;
    border-radius: 100%;
    margin-right: -10px
}