
.homeHeader {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
    padding: 15px;
}
.homeHeader div{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px
}
.homeHeader img{
    width: 20px;
}
