
.navLink {
    transition: var(--transition);
    display: block;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
}
.navLink a{
    text-decoration: none;
    color: #000;
}
.navLink:hover,
#active{
    background-color: var(--button-hover);
}
.navLink:hover a,
#active a{
    color: #fff;
}