
.companyInfo {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
}

.companyLogo img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.buttonsCompany {
    text-align: right;
    flex: 1;
}

