
.companyInfo {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: var(--drop-shadow);
    border-radius: 5px;
}

.companyLogo img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.buttonsCompany {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
}

