.body{
    display: flex;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    height: 100vh;
}

.userContentContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.userContent {
    padding: 20px;
}

.userContent h2 {
    font-size: 24px;
}

.discoverMore{
    margin-top: 20px;
}