
.body{
    display: flex;
    margin: -10px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.userContentContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.userContent {
    padding: 20px;
}

.userContent h2 {
    font-size: 24px;
}