
.course {
    width: 250px;
    margin-bottom: 20px;
    padding: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #999;
    border-radius: 10px;
}

.course h4 {
    font-size: 18px;
    height: 40px;
    margin-top: 3px
}
.courseInformation{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.course p {
    font-size: 14px;
    color: #666;
    margin: 10px 0;
    overflow-y: hidden;
}

.courseImage {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}