
.course {
    width: 200px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    padding: 10px;
    margin: 10px;
}

.course h4 {
    font-size: 18px;
}

.course p {
    font-size: 14px;
    color: #666;
    margin: 10px 0;
    overflow-y: hidden;
}

.courseImage {
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* Maintain a square aspect ratio */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}