.userAside{
    background-color: #f4f4f4;
    width: 200px;
    padding: 20px;
}
.userAside nav{
    margin-top: 20px;
    position: fixed
}

.userAside nav ul {
    list-style-type: none;
    padding: 0;
}

.userAaside nav li {
    margin-bottom: 10px;
}
