.userAside{
    background-color: #f0f0f0;
    display: flex;
    width: 200px;
    padding: 20px;
}

.asideOptions {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.userAaside nav li {
    margin-bottom: 10px;
}
