.body{
    display: flex;
    margin: -10px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.userContentContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.userContent {
    padding: 20px;
}
.userContent h2 {
    font-size: 24px;
}
.coursePanel {
    margin-top: 20px;
}
.course {
    width: 200px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    padding: 10px;
    margin: 10px;
}
.course h4 {
    font-size: 18px;
}
.course p {
    font-size: 14px;
    color: #666;
    margin: 10px 0;
    overflow-y: hidden;
}
.discoverMore{
    margin-top: 20px;
}
.improvementAreas {
    display: flex;
    flex-wrap: wrap;
}