.buttonOption {
    background-color: var(--contrast-button);
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: var(--transition);
    margin-bottom: 10px;
    width: 200px;
}

.buttonOption:hover {
    background-color: var(--contrast-button-hover);
}