.buttonOption {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: all ease 0.3s;
}

.buttonOption:hover {
    background-color: #c0392b;
}