
.progressBar {
    margin-top: 20px;
    background-color: #f4f4f4;
    height: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.progress {
    height: 100%;
    width: 0;
    background-color: #007bff;
    border-radius: 10px 0 0 10px;
    position: absolute;
    top: 0;
    left: 0;
}


.remainingPoints{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
    line-height: 20px;
    color: #007bff;
}
