.body{
    display: flex;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    height: 100vh;
}
.pageContent{
    display: flex;
    flex: 1;
    justify-content: center;
}
.pageHeader{
    display: flex;
    height: fit-content;
}
.filter{
    display: flex;
    align-items: center;
}