.courseButton {
    background-color: var(--button);
    border-radius: 2px;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.courseButton:hover {
    background-color: var(--button-hover);
}